**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
**/.vscode/
**/build/
**/dist/
**/*egg*



**/.vscode
**/*_cache
*coverage*
venv/
**/.terraform*
*.tfstate*
*.tfstate.backup
*.tfvars*
.env



__pycache__/
*.pyc
**/*.pyc
**/*pycache

# This folder is used in dev only 
# (it's the folder in which the 
# project installs dependencies 
# and the project zips it so that 
# in dev the project can use 
# terraform to provision cloud 
# infrastructure). the 
# .github/workflow/workflow.yml 
# file will make GitHub Actions
# create this folder anew and 
# install dependencies in it:
layer/


# DO NOT generate the 
# requirements/*requirements.txt 
# files from the 
# requirements/*requirements.in 
# files in GitHub Actions; do that 
# locally (because it slows GitHub 
# Actions down a lot): 
requirements/GHA_layer_requirements.in
requirements/GHA_test_requirements.in




otherDocs
zz_to_dump/
zz_other_stuff/
yet_to_do.txt





