**/serverless-output.*
**/.DS_Store
temp/
.DS_Store
**/.vscode/
**/build/
**/dist/
**/*egg*
**/*.pyc
**/.vscode
**/*_cache
**/*pycache
*coverage*
venv/
**/.terraform*
*.tfstate*
*.tfstate.backup
*.tfvars*
.env
otherDocs
layer/python
layer.zip
zz_to_dump
yet_to_do.txt