name: Final-project

on:
  push:
    branches:
      - '**'

# env:
#   TF_AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
#   TF_AWS_SECRET_ACCESS_KEY: '${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}'
#   TF_TOTESYS_DB_USER: "${{ secrets.TF_TOTESYS_DB_USER }}"
#   TF_TOTESYS_DB_HOST: '${{ secrets.TF_TOTESYS_DB_HOST }}'
#   TF_TOTESYS_DB_DB: '${{ secrets.TF_TOTESYS_DB_DB }}'
#   TF_TOTESYS_DB_PASSWORD: '${{ secrets.TF_TOTESYS_DB_PASSWORD }}'
#   TF_TOTESYS_DB_PORT: '${{ secrets.TF_TOTESYS_DB_PORT }}'
#   TF_WAREHOUSE_DB_DB: '${{ secrets.TF_WAREHOUSE_DB_DB }}'
#   TF_WAREHOUSE_DB_HOST: '${{ secrets.TF_WAREHOUSE_DB_HOST }}'
#   TF_WAREHOUSE_DB_PASSWORD: '${{ secrets.TF_WAREHOUSE_DB_PASSWORD }}'
#   TF_WAREHOUSE_DB_PORT: '${{ secrets.TF_WAREHOUSE_DB_PORT }}'
#   TF_WAREHOUSE_DB_USER: '${{ secrets.TF_WAREHOUSE_DB_USER }}' 
  

jobs:
  run-tests:
    name: run-tests
    if: false
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
        - name: Set Up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.13'
        - name: Install make
          run: sudo apt install make -y
        - name: Install Application Requirements & Run Tests
          run: make all
        - name: Clean up old ZIP archives
          run: |
              rm -f function_1.zip
              rm -f layer.zip          
        - name: Destroy the venv
          run: make clean  

          


  deploy-project:
    name: deploy-project
    if: false
    runs-on: ubuntu-latest
    environment: dev
    needs: run-tests
    steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
          
        - name: Set Up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        
        - name: Package Layer
          run: pip install -r layer-requirements.txt -t layer/python/

        - name: Make Layer Src Folder
          run: mkdir layer/python/src

        - name: Copy Local Source Files to Layer
          run: cp src/change_after_time_timestamp.py src/conn_to_db.py src/First_util_for_3rd_lambda.py src/lambda_utils.py src/second_util_for_3rd_lambda.py src/utils_2.py src/utils_write_to_ingestion_bucket.py src/utils.py layer/python/src/ # add future src import files here (please don't make a new file for every function)

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4.1.0
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION}}

        - name: Install Terraform
          uses: hashicorp/setup-terraform@v3

        - name: Terraform Init
          working-directory: terraform
          run: terraform init

        # - name: Terraform destroy
        #   working-directory: terraform
        #   run: terraform destroy --auto-approve -var="alert_email_address=${{ secrets.TF_ALERT_EMAIL }}"  -var="tf_totesys_db_user=${{ secrets.TOTESYS_DB_USER }}" -var="tf_totesys_db_host=${{ secrets.TOTESYS_DB_HOST }}" -var="tf_totesys_db_db=${{ secrets.TOTESYS_DB_DB }}" -var="tf_totesys_db_password=${{ secrets.TOTESYS_DB_PASSWORD }}" -var="tf_totesys_db_port=${{ secrets.TOTESYS_DB_PORT }}" -var="tf_warehouse_db_db=${{ secrets.WAREHOUSE_DB_DB }}" -var="tf_warehouse_db_host=${{ secrets.WAREHOUSE_DB_HOST }}" -var="tf_warehouse_db_password=${{ secrets.WAREHOUSE_DB_PASSWORD }}" -var="tf_warehouse_db_port=${{ secrets.WAREHOUSE_DB_PORT }}" -var="tf_warehouse_db_user=${{ secrets.WAREHOUSE_DB_USER }}"



        - name: Terraform Plan
          working-directory: terraform
          run: terraform plan -var="alert_email_address=${{ secrets.TF_ALERT_EMAIL }}"  -var="tf_totesys_db_user=${{ secrets.TOTESYS_DB_USER }}" -var="tf_totesys_db_host=${{ secrets.TOTESYS_DB_HOST }}" -var="tf_totesys_db_db=${{ secrets.TOTESYS_DB_DB }}" -var="tf_totesys_db_password=${{ secrets.TOTESYS_DB_PASSWORD }}" -var="tf_totesys_db_port=${{ secrets.TOTESYS_DB_PORT }}" -var="tf_warehouse_db_db=${{ secrets.WAREHOUSE_DB_DB }}" -var="tf_warehouse_db_host=${{ secrets.WAREHOUSE_DB_HOST }}" -var="tf_warehouse_db_password=${{ secrets.WAREHOUSE_DB_PASSWORD }}" -var="tf_warehouse_db_port=${{ secrets.WAREHOUSE_DB_PORT }}" -var="tf_warehouse_db_user=${{ secrets.WAREHOUSE_DB_USER }}"

        - name: Terraform Apply
          working-directory: terraform
          run: terraform apply -auto-approve -var="alert_email_address=${{ secrets.TF_ALERT_EMAIL }}"  -var="tf_totesys_db_user=${{ secrets.TOTESYS_DB_USER }}" -var="tf_totesys_db_host=${{ secrets.TOTESYS_DB_HOST }}" -var="tf_totesys_db_db=${{ secrets.TOTESYS_DB_DB }}" -var="tf_totesys_db_password=${{ secrets.TOTESYS_DB_PASSWORD }}" -var="tf_totesys_db_port=${{ secrets.TOTESYS_DB_PORT }}" -var="tf_warehouse_db_db=${{ secrets.WAREHOUSE_DB_DB }}" -var="tf_warehouse_db_host=${{ secrets.WAREHOUSE_DB_HOST }}" -var="tf_warehouse_db_password=${{ secrets.WAREHOUSE_DB_PASSWORD }}" -var="tf_warehouse_db_port=${{ secrets.WAREHOUSE_DB_PORT }}" -var="tf_warehouse_db_user=${{ secrets.WAREHOUSE_DB_USER }}"





