name: Final-project

# Set up environment variables:
env:
  TF_VAR_AWS_INGEST_BUCKET:  ${{ secrets.AWS_INGEST_BUCKET }}
  TF_VAR_AWS_PROCESS_BUCKET: ${{ secrets.AWS_PROCESS_BUCKET }}
  TF_VAR_AWS_CODE_BUCKET:    ${{ secrets.AWS_CODE_BUCKET }}
  TF_VAR_AWS_STATE_BUCKET:   ${{ secrets.AWS_STATE_BUCKET }}
  TF_VAR_AWS_ALERT_EMAIL:    ${{ secrets.AWS_ALERT_EMAIL }}
  TF_VAR_AWS_TABLES_LIST:    ${{ secrets.AWS_TABLES_LIST }}
  

  TF_VAR_TOTE_SYS_DB_DB:       ${{ secrets.TOTE_SYS_DB_DB }} 
  TF_VAR_TOTE_SYS_DB_HOST:     ${{ secrets.TOTE_SYS_DB_HOST }} 
  TF_VAR_TOTE_SYS_DB_PASSWORD: ${{ secrets.TOTE_SYS_DB_PASSWORD }} 
  TF_VAR_TOTE_SYS_DB_PORT:     ${{ secrets.TOTE_SYS_DB_PORT }} 
  TF_VAR_TOTE_SYS_DB_USER:     ${{ secrets.TOTE_SYS_DB_USER }} 


  TF_VAR_WAREHOUSE_DB_DB:       ${{ secrets.WAREHOUSE_DB_DB }} 
  TF_VAR_WAREHOUSE_DB_HOST:     ${{ secrets.WAREHOUSE_DB_HOST }} 
  TF_VAR_WAREHOUSE_DB_PASSWORD: ${{ secrets.WAREHOUSE_DB_PASSWORD }}
  TF_VAR_WAREHOUSE_DB_PORT:     ${{ secrets.WAREHOUSE_DB_PORT }} 
  TF_VAR_WAREHOUSE_DB_USER:     ${{ secrets.WAREHOUSE_DB_USER }} 
  

  TF_VAR_OLTP_NAME:       ${{ secrets.OLTP_NAME }}
  TF_VAR_WAREHOUSE_NAME:  ${{ secrets.WAREHOUSE_NAME }}




# Run these jobs:
# 1) testing: does the tests and runs coverage
# 2) safety: runs safety and PEP8 compliance tool
#    This depends on 1)
# 3) zip-stuff: make folder zipped_files and zip 
#    stuff and put it in this folder
#    This depends on 2)
# 4) get-credentials: do the amazon credentials 
     # thing. 
#    This depends on 2)
# 5) deploy-project: do terraform init, plan and 
#    apply.
#    This depends on 4)



on:
  push:
    branches:
      - '**'

jobs:
# 1):   
  testing:
    name: Run tests and run command-line tool coverage
    if: false
    runs-on: ubuntu-latest
    steps:
        - name: Checkout the repo
          uses: actions/checkout@v5

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'

        - name: Install make
          run: sudo apt install make -y

        - name: Install application requirements & run tests
          run: make all

        - name: Destroy the venv
          run: make clean  

# 2):
  safety:
    name: Check safety of code
    if: false
    runs-on: ubuntu-latest
    needs: testing

# 3):    
  zip-stuff:
    name: Zip lambda function plus code and the layer folder
    if: false
    runs-on: ubuntu-latest  
    needs: safety    


  get-AWS-credentials:
    name: Get AWS credentials
    if: false
    runs-on: ubuntu-latest  
    needs: zip-stuff    


  deploy-project:
    name: deploy-project
    if: false
    runs-on: ubuntu-latest
    needs: zip-stuff
    steps:
        - name: Checkout Repo
          uses: actions/checkout@v5
          
        - name: Set Up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'
        
        - name: Package Layer
          run: pip install -r layer-requirements.txt -t layer/python/

        - name: Make Layer Src Folder
          run: mkdir layer/python/src

        - name: Copy Local Source Files to Layer
          run: cp src/change_after_time_timestamp.py src/conn_to_db.py src/First_util_for_3rd_lambda.py src/lambda_utils.py src/second_util_for_3rd_lambda.py src/utils_2.py src/utils_write_to_ingestion_bucket.py src/utils.py layer/python/src/ # add future src import files here (please don't make a new file for every function)

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4.1.0
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION}}

        - name: Install Terraform
          uses: hashicorp/setup-terraform@v3

        - name: Initialise terraform
          working-directory: terraform
          run: terraform init

        # - name: Terraform destroy
        #   working-directory: terraform
        #   run: terraform destroy --auto-approve -var="alert_email_address=${{ secrets.TF_ALERT_EMAIL }}"  -var="tf_totesys_db_user=${{ secrets.TOTESYS_DB_USER }}" -var="tf_totesys_db_host=${{ secrets.TOTESYS_DB_HOST }}" -var="tf_totesys_db_db=${{ secrets.TOTESYS_DB_DB }}" -var="tf_totesys_db_password=${{ secrets.TOTESYS_DB_PASSWORD }}" -var="tf_totesys_db_port=${{ secrets.TOTESYS_DB_PORT }}" -var="tf_warehouse_db_db=${{ secrets.WAREHOUSE_DB_DB }}" -var="tf_warehouse_db_host=${{ secrets.WAREHOUSE_DB_HOST }}" -var="tf_warehouse_db_password=${{ secrets.WAREHOUSE_DB_PASSWORD }}" -var="tf_warehouse_db_port=${{ secrets.WAREHOUSE_DB_PORT }}" -var="tf_warehouse_db_user=${{ secrets.WAREHOUSE_DB_USER }}"



        - name: Terraform Plan
          working-directory: terraform
          run: terraform plan -var="alert_email_address=${{ secrets.TF_ALERT_EMAIL }}"  -var="tf_totesys_db_user=${{ secrets.TOTESYS_DB_USER }}" -var="tf_totesys_db_host=${{ secrets.TOTESYS_DB_HOST }}" -var="tf_totesys_db_db=${{ secrets.TOTESYS_DB_DB }}" -var="tf_totesys_db_password=${{ secrets.TOTESYS_DB_PASSWORD }}" -var="tf_totesys_db_port=${{ secrets.TOTESYS_DB_PORT }}" -var="tf_warehouse_db_db=${{ secrets.WAREHOUSE_DB_DB }}" -var="tf_warehouse_db_host=${{ secrets.WAREHOUSE_DB_HOST }}" -var="tf_warehouse_db_password=${{ secrets.WAREHOUSE_DB_PASSWORD }}" -var="tf_warehouse_db_port=${{ secrets.WAREHOUSE_DB_PORT }}" -var="tf_warehouse_db_user=${{ secrets.WAREHOUSE_DB_USER }}"

        - name: Terraform Apply
          working-directory: terraform
          run: terraform apply -auto-approve -var="alert_email_address=${{ secrets.TF_ALERT_EMAIL }}"  -var="tf_totesys_db_user=${{ secrets.TOTESYS_DB_USER }}" -var="tf_totesys_db_host=${{ secrets.TOTESYS_DB_HOST }}" -var="tf_totesys_db_db=${{ secrets.TOTESYS_DB_DB }}" -var="tf_totesys_db_password=${{ secrets.TOTESYS_DB_PASSWORD }}" -var="tf_totesys_db_port=${{ secrets.TOTESYS_DB_PORT }}" -var="tf_warehouse_db_db=${{ secrets.WAREHOUSE_DB_DB }}" -var="tf_warehouse_db_host=${{ secrets.WAREHOUSE_DB_HOST }}" -var="tf_warehouse_db_password=${{ secrets.WAREHOUSE_DB_PASSWORD }}" -var="tf_warehouse_db_port=${{ secrets.WAREHOUSE_DB_PORT }}" -var="tf_warehouse_db_user=${{ secrets.WAREHOUSE_DB_USER }}"





