name: totesys ETL pipeline # shown in GHA


# load secrets into environment variables.
# These env vars are available to all jobs:
env:
  # TF_AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
  # TF_AWS_SECRET_ACCESS_KEY: '${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}'

  TF_TOTESYS_DB_USER: "${{ secrets.TF_TOTESYS_DB_USER }}"
  TF_TOTESYS_DB_HOST: '${{ secrets.TF_TOTESYS_DB_HOST }}'
  TF_TOTESYS_DB_DB: '${{ secrets.TF_TOTESYS_DB_DB }}'
  TF_TOTESYS_DB_PASSWORD: '${{ secrets.TF_TOTESYS_DB_PASSWORD }}'
  TF_TOTESYS_DB_PORT: '${{ secrets.TF_TOTESYS_DB_PORT }}'

  TF_WAREHOUSE_DB_DB: '${{ secrets.TF_WAREHOUSE_DB_DB }}'
  TF_WAREHOUSE_DB_HOST: '${{ secrets.TF_WAREHOUSE_DB_HOST }}'
  TF_WAREHOUSE_DB_PASSWORD: '${{ secrets.TF_WAREHOUSE_DB_PASSWORD }}'
  TF_WAREHOUSE_DB_PORT: '${{ secrets.TF_WAREHOUSE_DB_PORT }}'
  TF_WAREHOUSE_DB_USER: '${{ secrets.TF_WAREHOUSE_DB_USER }}' 
  
  AWS_ALERT_EMAIL: '${{ secrets.AWS_ALERT_EMAIL }}' 
  AWS_CODE_BUCKET: '${{ secrets.AWS_CODE_BUCKET }}' 
  AWS_INGEST_BUCKET: '${{ secrets.AWS_INGEST_BUCKET }}' 
  AWS_PROCESS_BUCKET: '${{ secrets.AWS_PROCESS_BUCKET }}' 
  AWS_STATE_BUCKET: '${{ secrets.AWS_STATE_BUCKET }}' 
  AWS_TABLES_LIST: '${{ secrets.AWS_TABLES_LIST }}' 
  OLTP_NAME: '${{ secrets.OLTP_NAME }}' 
  TOTE_SYS_DB_DB: '${{ secrets.TOTE_SYS_DB_DB }}' 
  TOTE_SYS_DB_HOST: '${{ secrets.TOTE_SYS_DB_HOST }}' 
  TOTE_SYS_DB_PASSWORD: '${{ secrets.TOTE_SYS_DB_PASSWORD }}' 
  TOTE_SYS_DB_PORT: '${{ secrets.TOTE_SYS_DB_PORT }}' 
  TOTE_SYS_DB_USER: '${{ secrets.TOTE_SYS_DB_USER }}' 
  WAREHOUSE_DB_DB: '${{ secrets.WAREHOUSE_DB_DB }}' 
  WAREHOUSE_DB_HOST: '${{ secrets.WAREHOUSE_DB_HOST }}' 
  WAREHOUSE_DB_PASSWORD: '${{ secrets.WAREHOUSE_DB_PASSWORD }}' 
  WAREHOUSE_DB_PORT: '${{ secrets.WAREHOUSE_DB_PORT }}' 
  WAREHOUSE_DB_USER: '${{ secrets.WAREHOUSE_DB_USER }}' 
  WAREHOUSE_NAME: '${{ secrets.WAREHOUSE_NAME }}' 



on:
  push: # this is an event
    branches:  
      # - '**' # would run GHA on push to any branch
      - main  # run GHA only on push to branch main 


jobs:
  run-tests-and-coverage:
    name: Run all tests and tool coverage

    runs-on: ubuntu-latest # always use a Linux VM
    steps:
        - name: Checkout the repo
          uses: actions/checkout@v5  # Download repo into runner


         # Install Python
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'


         # Install test dependencies:
        - name: Install test dependencies
          run: | 
            chmod +x scripts/install_test_deps.sh
            scripts/install_test_deps.sh

        # Now run the tests and if a test 
        # fails, stop the job.
        # If coverage < 90%, the step 
        # fails and the job stops:
        - name: Run tests with coverage (min 90%)
          run: |
            coverage run --source=src -m pytest
            coverage report --fail-under=90


        # If any previous step in this job 
        # fails, stop the job. If all tests 
        # pass, print this in GHA log:  
        - name: Did tests and coverage pass?
          if: success()
          run: echo "All tests passed, coverage acceptable."


        - name: Did any test fail or was coverage <90%?
          if: failure()
          run: echo "One/one+ tests failed or coverage is <90%. Job stopped."



  zip-lambdas:
    name: Zip lambdas & layer, put in dir zipped_files
    runs-on: ubuntu-latest
    needs: run-tests-and-coverage
    steps:
        - name: Checkout the repo
          uses: actions/checkout@v5


          # Install Python
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'


        - name: Zip lambdas, put in dir zipped_files
          run: |
            chmod +x scripts/zip_lambdas.sh
            ./scripts/zip_lambdas.sh


        - name: Make layer, zip it, put in dir zipped_files
          run: |
            chmod +x scripts/build_layer.sh
            ./scripts/build_layer.sh


        - name: Set up Terraform
          uses: hashicorp/setup-terraform@v3
          with:
            terraform_version: 1.14.3


        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: eu-west-2


        # - name: Let Terraform provision cloud infra
        #   run: |
        #     chmod +x scripts/provision_cloud_infra.sh
        #     ./scripts/provision_cloud_infra.sh
